<template>
  <div
    class="portfolio-top-options__container"
    v-click-outside="closeItemOptions"
  >
    <ul class="portfolio-top-options__list">
      <portfolio-top-navigation-item
        section="File"
        class="portfolio-top-options__item"
        :subItems="displaySubitems.file"
        @show-item-options="showItemOptions(Items.file)"
      >
        <portfolio-list-item-content
          :content="TopNavigationItemsContent.file"
        />
      </portfolio-top-navigation-item>
      <portfolio-top-navigation-item
        section="Edit"
        class="portfolio-top-options__item"
        :subItems="displaySubitems.edit"
        @show-item-options="showItemOptions(Items.edit)"
      >
        <portfolio-list-item-content
          :content="TopNavigationItemsContent.edit"
        />
      </portfolio-top-navigation-item>
      <portfolio-top-navigation-item
        section="Options"
        class="portfolio-top-options__item"
        :subItems="displaySubitems.options"
        @show-item-options="showItemOptions(Items.options)"
      >
        <portfolio-list-item-content
          :content="TopNavigationItemsContent.options"
        />
      </portfolio-top-navigation-item>

      <portfolio-top-navigation-item
        section="Buffers"
        class="portfolio-top-options__item"
        :subItems="displaySubitems.buffers"
        @show-item-options="showItemOptions(Items.buffers)"
      >
        <portfolio-list-item-content
          :content="TopNavigationItemsContent.buffers"
        />
      </portfolio-top-navigation-item>
    </ul>
  </div>
</template>
<script>
import { Items, TopNavigationItemsContent } from "./../../constants/items.js";
import PortfolioTopNavigationItem from "./portfolio-top-navigation-item.vue";
import PortfolioListItemContent from "./portfolio-list-item-content.vue";

export default {
  name: "portfolio-top-options",
  data() {
    return {
      displaySubitems: {
        file: false,
        edit: false,
        options: false,
        buffers: false
      },
      TopNavigationItemsContent,
      Items
    };
  },
  components: {
    PortfolioTopNavigationItem,
    PortfolioListItemContent
  },
  methods: {
    showItemOptions(section) {
      for (let item in this.displaySubitems) {
        if (item === section) {
          this.displaySubitems[item] = !this.displaySubitems[item];
        } else {
          this.displaySubitems[item] = false;
        }
      }
    },
    closeItemOptions() {
      for (let item in this.displaySubitems) {
        this.displaySubitems[item] = false;
      }
    }
  }
};
</script>
