<template>
  <div class="portfolio-subitems-container">
    <ul v-for="item in content" :key="item" class="portfolio-subitems__list">
      <li>{{ item }}</li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "portfolio-list-item-content",

  props: {
    content: {
      type: Array,
      required: true
    }
  }
};
</script>
