<template>
  <li @click="$emit('show-item-options')">
    {{ section }}
    <slot v-if="subItems"></slot>
  </li>
</template>
<script>
export default {
  name: "portfolio-top-navigation-item",
  data() {
    return {
      showSubItems: false
    };
  },
  props: {
    section: {
      type: String,
      require: true
    },
    subItems: {
      type: Boolean,
      require: true
    }
  }
};
</script>
