.portfolio-app__main-container {
  display: flex;
  flex-direction: column;
  background: $portfolio-color-black;
  color: $portfolio-color-gray;
}

.portfolio-app-top__container {
  background: $portfolio-color-gray-01;
  color: $portfolio-color-black;
  padding: 0.7rem 0.35rem;

  @media only screen and (max-width: 500px) {
      padding: 0;
  }
}

.portfolio-app-bottom__container {
  display: flex;
}
