<template>
  <div class="portfolio-kill-bugs__container">
    <h2 class="portfolio-kill-bugs__result add-margin-bottom">
      <span class="portfolio-u-make-stronger">Pacman life:</span>
      {{ pacmanLife }}
    </h2>
    <h2 class="portfolio-kill-bugs__result">
      <span class="portfolio-u-make-stronger">Enemy life:</span> {{ enemyLife }}
    </h2>
    <p class="portfolio-u-paragraph">
      <span class="portfolio-u-make-stronger">Controls:</span> press
      <span class="portfolio-u-make-stronger">arrows</span> for moving, and
      press <span class="portfolio-u-make-stronger">'a'</span> for shooting!
    </p>
    <div class="portfolio-kill-bugs__game-container">
      <h2 v-if="endGame && pacmanLife" class="portfolio-kill-bugs__pacman-wins">
        {{ theEndMessage }}
      </h2>
      <h2 v-if="endGame && enemyLife" class="portfolio-kill-bugs__enemy-wins">
        {{ theEndMessage }}
      </h2>
      <canvas
        ref="pacman"
        id="pacman-world"
        width="712"
        height="512"
        style=""
      ></canvas>
      <p class="portfolio-kill-bugs__result">{{ theEnd }}</p>
    </div>
    <div class="portfolio-kill-bugs__start-container">
      <button
        @click="startGame"
        :class="['portfolio-kill-bugs__start', { 'is-disabled': gameStart }]"
        :disabled="gameStart"
      >
        Start Game
      </button>
    </div>
  </div>
</template>
<script>
// import { Pacman, PacmanPowers, CreateBug, weaponX, weaponY } from "./pacman.js";
// import { GameState } from "./GameRules.js";
import { PortfolioGame } from "./game.js";
export default {
  name: "PacProgrammerMan",
  data() {
    return {
      gameStart: false,
      pacmanLife: 3,
      enemyLife: 20,
      theEnd: "",
      // addition
      canvas: "",
      context: "",
      theEndMessage: "",
      endGame: false
    };
  },
  mounted() {},
  methods: {
    startGame() {
      window.onload = this;
      this.canvas = document.getElementById("pacman-world");
      this.context = this.canvas.getContext("2d");
      this.pacmanLife = 3;
      this.theEndMessage = "";
      // this.gameStart = false;
      let game = new PortfolioGame(this.context, this.canvas, this.pacmanLife);

      game.gameLoop();

      game.listenPacman();

      let listenGame = setInterval(() => {
        this.pacmanLife = game.listenToResult()[0];
        this.enemyLife = game.listenToResult()[1];
        if (this.pacmanLife === 0 || this.enemyLife === 0) {
          this.endGame = true;

          if (this.pacmanLife === 0) {
            this.theEndMessage =
              "Too bad, bugs got you :( ... But try again, and again!";
            this.gameStart = false;
          }

          if (this.enemyLife === 0) {
            this.theEndMessage =
              "Congrats! You won this bug war! But, don't relax, more will come ;)";
            this.gameStart = false;
          }
          clearInterval(listenGame);
        }
      });
    }
  }
};
</script>
