<template>
  <div class="portfolio-read-me__container">
    <div class="portfolio-read-me-left-side__container">
      <div class="portfolio-u-scroll-container">
        <h3 class="portfolio-u-title">Portfolio, version 1.0</h3>
        <p class="portfolio-u-paragraph">
          Greetings! My name is Rastislav, and welcome to my
          <span class="portfolio-u-make-stronger is-italic">portfolio</span>!
        </p>
        <p class="portfolio-u-paragraph">
          Here you can
          <span class="portfolio-u-make-stronger is-italic"
            >read a few things about me</span
          >, and
          <span class="portfolio-u-make-stronger is-italic"
            >check jobs and projects I worked on</span
          >... And
          <span class="portfolio-u-make-stronger is-italic">kill some bugs</span
          >, if you are in proper mood. Contact me if you have an business
          proposal, or if you feel friendly.
        </p>
        <p class="portfolio-u-paragraph">
          If you are interested to find more about my work history,
          <span class="portfolio-u-make-stronger is-italic"
            >you can click on Linkedin and Upwork icons</span
          >
          at the bottom right corner.
        </p>
        <p class="portfolio-u-paragraph">
          This project was build with VueJS.
        </p>
        <p class="portfolio-u-paragraph">Cheers!</p>
      </div>
      <div class="portfolio-read-me-right-side__container">
        <pre class="portfolio-ascii-image"></pre>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "AboutMe"
};
</script>
