<template>
  <div class="portfolio-c-contact-me__container">
    <div class="portfolio-u-scroll-container">
      <h2 class="portfolio-u-title">Contact me</h2>
      <div class="portfolio-c-contact-me__input-container">
        <label class="portfolio-c-contact-me__label">Your name:</label>
        <input
          class="portfolio-c-contact-me__input"
          placeholder="Your name:"
          v-model="name"
        />
        <p v-if="errorName" class="portfolio-c-contact-me__error">
          {{ errorName }}
        </p>
      </div>
      <div class="portfolio-c-contact-me__input-container">
        <label class="portfolio-c-contact-me__label">Your email:</label>
        <input
          class="portfolio-c-contact-me__input"
          placeholder="Your email:"
          v-model="email"
        />
        <p v-if="errorEmail" class="portfolio-c-contact-me__error">
          {{ errorEmail }}
        </p>
      </div>
      <div class="portfolio-c-contact-me__input-container">
        <label class="portfolio-c-contact-me__label">Your message:</label>
        <textarea
          class="portfolio-c-contact-me__textarea"
          v-model="message"
        ></textarea>
        <p v-if="errorMessage" class="portfolio-c-contact-me__error">
          {{ errorMessage }}
        </p>
      </div>

      <button @click="sendMessage" class="portfolio-c-contact-me__send-button">
        Send
      </button>
      <contact-message
        v-if="showContactMessage"
        :is-success="isSuccess"
        :email="email"
        v-on:closeMessage="closeMessage"
      ></contact-message>
    </div>
  </div>
</template>
<script>
import ContactMessage from "./contact-message.vue";
import axios from "axios";
export default {
  name: "ContactMe",
  components: { ContactMessage },
  data() {
    return {
      name: "",
      email: "",
      message: "",
      errorMessage: "",
      errorName: "",
      errorEmail: "",
      showContactMessage: false,
      isSuccess: false
    };
  },
  methods: {
    sendMessage() {
      const formData = new FormData();
      formData.append("_name", this.name);
      formData.append("_email", this.email);
      formData.append("_message", this.message);

      if (this.isError(this.name, this.email, this.message)) return;

      this.errorName = "";
      this.errorEmail = "";
      this.errorMessage = "";

      axios
        .post("http://rastislavkobac.me/contact-me.php", formData)
        .then(response => {
          console.log("succ 2 ", response.data);
          this.showContactMessage = true;
          this.isSuccess = true;
        })
        .catch(error => {
          console.log("err 2", error);
          this.showContactMessage = true;
          this.isSuccess = false;
        });
    },
    closeMessage() {
      this.showContactMessage = false;
    },
    validEmail: function(email) {
      let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    isError(name, email, message) {
      if (!name || !email || !message || !this.validEmail(email)) {
        if (!name) {
          this.errorName = "Field must not be empty";
        } else {
          this.errorName = "";
        }
        if (!email) {
          this.errorEmail = "Field must not be empty";
        } else if (!this.validEmail(email)) {
          this.errorEmail = "Valid email required.";
        } else {
          this.errorEmail = "";
        }
        if (!message) {
          this.errorMessage = "You must enter some text.";
        } else {
          this.errorMessage = "";
        }
        return true;
      }
      return false;
    }
  }
};
</script>
