<template>
  <div class="portfolio-c-contact-message__container">
    <div v-if="isSuccess" class="portfolio-c-contact-message__error-container">
      <img
        :src="'/img/close.svg'"
        @click="closeMessage"
        class="portfolio-c-contact-message__close-image"
      />
      <div class="portfolio-c-contact-message__text-container">
        <p class="portfolio-c-contact-message__text">
          Great! Thanks for the message!
        </p>
        <p class="portfolio-c-contact-message__text">
          I will contact you soon, on your email:
          <span class="portfolio-c-contact-message__email">{{ email }}</span>
        </p>
      </div>
    </div>
    <div v-else class="portfolio-c-contact-message__error-container">
      <img
        :src="'/img/close.svg'"
        @click="closeMessage"
        class="portfolio-c-contact-message__close-image"
      />
      <div class="portfolio-c-contact-message__text-container">
        <p class="portfolio-c-contact-message__text">
          Oh no!! Something terribly went wrong!
        </p>
        <p class="portfolio-c-contact-message__text">
          But don't panic, hold your towel and write me directly at
          rastislav.kobac@gmail.com.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "contact-message",

  props: {
    isSuccess: {
      type: Boolean,
      required: true
    },
    email: {
      type: String,
      required: true
    }
  },
  methods: {
    closeMessage() {
      this.$emit("closeMessage");
    }
  }
};
</script>
