<template>
  <div class="portfolio-future-jobs__container">
    <div class="portfolio-u-scroll-container">
      <div class="portfolio-future-jobs__title-container">
        <span class="portfolio-future-jobs__status">
          Currently Looking For New Opportunities
        </span>
        <h2 class="portfolio-u-title">Jobs I'm interested in</h2>
      </div>
      <p class="portfolio-u-paragraph is-subtitle">August, 2020</p>
      <p class="portfolio-u-paragraph">
        <span class="portfolio-u-make-stronger is-italic">
          I would like to work</span
        >
        in capable and productive team, that put emphasis on the best code
        design practices, fixing of problems, details, learning, cooperation and
        sharing of knowledge.
      </p>
      <p class="portfolio-u-paragraph">
        As for the future jobs -
        <span class="portfolio-u-make-stronger is-italic">
          I wish to deepen my experience</span
        >
        with Angular framework. Than, I would like the same thing with Vue
        framework. These are the things that are in my current focus. During my
        free time usually I experiment with Laravel, React, NodeJS and C, so
        these frameworks/languages are also something that I would like to work
        with more.
      </p>
      <p class="portfolio-u-paragraph">
        <span class="portfolio-u-make-stronger is-italic"
          >I prefer not to work</span
        >
        on anything related to military field, or unethical businesses. That
        means business that bring suffer to other beings.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: "FutureJobs"
};
</script>
