<template>
  <div class="portfolio-games__main-container">
    <div v-if="!this.isDesktopWidth">
      <p class="portfolio-u-paragraph">
        Sorry, this part of portfolio is optimized for
        <span class="portfolio-u-make-stronger">desktop usage!</span>
      </p>
    </div>
    <div v-if="this.isDesktopWidth" class="portfolio-u-margin-bottom-10">
      <h2 class="portfolio-u-title">
        Yes, you can kill some computer bugs here!!!
      </h2>
      <pac-programmer-man></pac-programmer-man>
    </div>
  </div>
</template>
<script>
import PacProgrammerMan from "./games/pac-programmer-man.vue";
import ScreenWidth from "./../../mixins/screen-width.js";

export default {
  name: "HaveFun",
  components: {
    PacProgrammerMan
  },
  mixins: [ScreenWidth],
  data() {
    return {
      PacProgrammerMan
    };
  },
  mounted() {
    this.isScreenWidthLessThan1024();
  },
  methods: {}
};
</script>
