<template>
  <div class="portfolio-main-area__container">
    <navigation
      v-on:close-section="deactivateBuffer"
      v-on:activate-buffer="activateBuffer"
    />
    <about-me v-if="Items.readme == $store.state.activateBuffer" />
    <personal v-if="Items.personal == $store.state.activateBuffer"></personal>
    <prefered-technologies-and-tools
      v-if="Items.preferedTools == $store.state.activateBuffer"
    ></prefered-technologies-and-tools>
    <future-jobs v-if="Items.jobs == $store.state.activateBuffer"></future-jobs>
    <my-work v-if="Items.myWorkFile == $store.state.activateBuffer" />
    <my-projects v-if="Items.myProjectsFile == $store.state.activateBuffer" />
    <have-fun
      v-if="Items.killSomeBugsFile == $store.state.activateBuffer"
    ></have-fun>
    <contact-me v-if="Items.contactFile == $store.state.activateBuffer" />
    <status-bar />
  </div>
</template>

<script>
import Navigation from "./navigation.vue";
import AboutMe from "./about-me.vue";
import MyWork from "./my-work.vue";
import MyProjects from "./my-projects.vue";
import ContactMe from "./contact-me.vue";
import HaveFun from "./have-fun.vue";
import StatusBar from "./status-bar.vue";
import PreferedTechnologiesAndTools from "./prefered-technologies-and-tools.vue";
import Personal from "./personal.vue";
import FutureJobs from "./future-jobs.vue";
import { Items } from "./../../constants/items.js";

export default {
  name: "Mainarea",
  components: {
    Navigation,
    AboutMe,
    MyWork,
    MyProjects,
    HaveFun,
    ContactMe,
    StatusBar,
    PreferedTechnologiesAndTools,
    Personal,
    FutureJobs
  },
  data() {
    return {
      activeSection: Items.aboutMe,
      Items
    };
  },
  props: {
    setActiveSection: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {},
  methods: {
    deactivateBuffer(buffer) {
      console.log("buffer close", buffer);
      //      this.$store.dispatch("activateThisBuffer", "");
      this.$store.dispatch(
        "activateThisBuffer",
        this.$store.state.activeBuffers[
          this.$store.state.activeBuffers.length - 1
        ]
      );
    },
    activateBuffer(buffer) {
      console.log("activate buffer", buffer);
    }
  },
  mounted() {}
};
</script>
