<template>
  <div class="portfolio-my-projects__list-container">
    <ul class="portfolio-my-projects__list">
      <li
        v-for="(project, index) in projects"
        :key="index"
        @click="displayProjectDescription(project.title)"
        class="portfolio-my-projects__item"
      >
        <img
          :alt="project.nickname"
          :src="getImageUrl(project.image)"
          class="portfolio-my-projects__project-logo"
        />
        <h3 class="portfolio-my-projects__project-title">
          {{ project.title }}
        </h3>
        <h4 class="portfolio-my-projects__project-keywords">
          Keywords:
          <span
            v-for="keyword in project.keywords"
            :key="keyword"
            class="portfolio-my-projects__project-keyword"
          >
            {{ keyword }}
          </span>
        </h4>
        <div
          v-if="project.git !== 'not available'"
          class="portfolio-my-projects__link-container add-margin-bottom"
        >
          <a
            :href="project.git"
            target="_blank"
            class="portfolio-my-projects__project-link"
            >Gitlab</a
          >
        </div>
        <div class="portfolio-my-projects__link-container">
          <a
            :href="project.url"
            target="_blank"
            class="portfolio-my-projects__project-link"
            >{{ project.nickname }}</a
          >
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "ListAllProjects",
  props: {
    projects: {
      type: Array,
      default: () => {},
      required: true
    }
  },
  methods: {
    getImageUrl(image) {
      let images = require.context("../../assets/images/", false);
      return images("./" + image);
    },
    displayProjectDescription(project) {
      this.$store.dispatch("activateProjectDescription", project);
      this.$emit("move-to-left", true);
    }
  }
};
</script>
