<template>
  <div class="portfolio-my-projects__main-container">
    <h2 class="portfolio-u-title margin-bottom-0">{{ myProjects.title }}</h2>
    <span class="portfolio-my-projects__meta-data"
      ><span class="portfolio-u-make-stronger">Click</span> on tag to filter
      projects and <span class="portfolio-u-make-stronger">click</span> on the
      project to read more about it!</span
    >
    <p class="portfolio-my-projects__text-row">
      Language(s):
      <span v-for="(language, index) in knowledgeBase.languages" :key="index">
        <span
          class="portfolio-my-projects__lanuage-item"
          @click="filterProjects(language)"
        >
          {{ language }}
        </span>
      </span>
    </p>
    <p class="portfolio-my-projects__text-row">
      Libraries/Frameworks:
      <span v-for="(tool, index) in knowledgeBase.tools" :key="index">
        <span
          @click="filterProjects(tool)"
          class="portfolio-my-projects__lanuage-item"
          >{{ tool }}</span
        >
      </span>
    </p>
    <p
      v-if="filterProjectsFromStatusbar"
      class="portfolio-my-projects__text-row"
    >
      Projects currently filtered by:
      <span class="portfolio-my-projects__tag">{{
        filterProjectsFromStatusbar
      }}</span>
    </p>
    <div class="portfolio-my-projects__content">
      <list-all-projects
        :projects="projects"
        v-on:move-to-left="displayDescription"
      >
      </list-all-projects>
      <project-description
        :projects="projects"
        :moveLeft="moveToLeft"
        :moveRight="moveToRight"
        v-on:move-to-left="displayDescription"
      ></project-description>
    </div>
  </div>
</template>
<script>
import myProjects from "./../../constants/my-projects.js";
import knowledgeBase from "./../../constants/languages.js";
import listAllProjects from "./list-all-projects.vue";
import projectDescription from "./project-description.vue";

export default {
  name: "MyProjects",
  data() {
    return {
      projects: [],
      moveToLeft: false,
      moveToRight: false,
      myProjects,
      knowledgeBase
    };
  },
  computed: {
    filterProjectsFromStatusbar: {
      get: function() {
        this.filterProjects(this.$store.state.filterProjectsBasedOnStatusbar);
        return this.$store.state.filterProjectsBasedOnStatusbar;
      },
      set: function(newValue) {
        this.$store.dispatch("activateFilteringBasedOnStatusbar", newValue);
      }
    }
  },
  components: { listAllProjects, projectDescription },
  methods: {
    displayDescription(move) {
      this.moveToLeft = move;
      this.moveToRight = !move;
      console.log("state", move);
    },
    filterProjects(filterItem) {
      let selectedProjects = [];
      this.filterProjectsFromStatusbar = filterItem;
      if (filterItem == "all") {
        this.projects = this.myProjects.projects;
      } else {
        for (let project in this.myProjects) {
          if ({}.hasOwnProperty.call(this.myProjects, project)) {
            if (project == "projects") {
              this.myProjects[project].filter(item => {
                item.keywords.forEach(lang => {
                  if (lang == filterItem) {
                    selectedProjects.push(item);
                  }
                });
              });
            }
          }
        }
        this.projects = selectedProjects;
      }
      return selectedProjects;
    }
  },
  mounted() {
    this.projects =
      this.$store.state.filterProjectsBasedOnStatusbar == "all"
        ? this.myProjects.projects
        : this.filterProjects(this.$store.state.filterProjectsBasedOnStatusbar);

    this.$on("move-to-left", condition => {
      console.log("condition", condition);
      this.moveToLeft = condition;
    });
  }
};
</script>
