<template>
  <div class="portfolio-my-work__container">
    <div class="portfolio-u-scroll-container portfolio-u-margin-bottom-10">
      <h2 class="portfolio-u-title">
        Working history related to Web Development
      </h2>
      <div
        v-for="(job, index) in myWork"
        :key="index"
        class="portfolio-my-work-position__container"
      >
        <h4 class="portfolio-my-work-position__title">{{ job.position }}</h4>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Company name: </span>
          {{ job.company }}
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Involvement: </span
          >{{ job.involvement }}
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Duration: </span
          >{{ job.duration }}
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Location: </span
          >{{ job.location }}
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Link: </span>
          <a
            :href="job.link"
            class="portfolio-my-work__link"
            title="job.company"
            >{{ job.company }}</a
          >
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Technologies: </span
          ><span class="portfolio-my-work-position__imortant">{{
            job.technologies
          }}</span>
        </p>
        <p class="portfolio-my-work-position__paragraph">
          <span class="portfolio-my-work__label">Description: </span
          >{{ job.description[0] }}
        </p>
        <p class="portfolio-my-work-position__paragraph">
          {{ job.description[1] }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import { myWork } from "./../../constants/items.js";
export default {
  name: "MyWork",
  data() {
    return {
      myWork
    };
  }
};
</script>
