<!-- https://v15.vuetifyjs.com/en/components/tabs/ -->
<template>
  <div class="portfolio-c-navigation__component">
    <v-tabs
      dark
      color="cyan"
      slider-color="blue"
      show-arrows
      class="portfolio-c-navigation__list"
    >
      <v-tabs-slider></v-tabs-slider>

      <v-tab
        v-for="tab in displayActiveTabs"
        :key="tab"
        @click="makeThisActiveBuffer(tab)"
        :class="[
          'portfolio-c-navigation__item',
          { 'is-tab-active': tab == $store.state.activateBuffer }
        ]"
        :href="'#tab-' + tab"
      >
        <img
          :src="getLogoImageUrl(tab)"
          :class="[
            'portfolio-c-navigation__icon',
            { 'is-vue-file': tab !== 'contact.php' && tab !== 'game.js' }
          ]"
        />

        {{ tab }}

        <span
          @click.stop="closeSelectedSection(tab)"
          class="portfolio-c-navigation__close"
        >
          <img
            :src="getImageUrl('close.svg')"
            class="portfolio-c-navigation__close-image"
          />
        </span>
      </v-tab>

      <v-tabs-items>
        <v-tab-item
          v-for="tab in displayActiveTabs"
          :key="tab"
          :value="'tab-' + tab"
        >
          <v-card flat>
            <v-card-text>{{ tab }}</v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
<script>
export default {
  name: "navigation",
  data() {
    return {
      activeTabs: []
    };
  },
  computed: {
    displayActiveTabs: function() {
      return this.$store.state.activeBuffers;
    }
  },
  methods: {
    closeSelectedSection(tab) {
      this.$store.state.activeBuffers = this.$store.state.activeBuffers.filter(
        item => {
          return item != tab;
        }
      );
      console.log(this.$store.state.activeBuffers);
      //      this.$store.dispatch("activateThisBuffer", "/");
      this.$emit("close-section", tab);
    },
    makeThisActiveBuffer(buffer) {
      this.$store.dispatch("activateThisBuffer", buffer);
    },
    getImageUrl(image) {
      let images = require.context("../../assets/icons/", false, /\.svg$/);
      return images("./" + image);
    },
    getLogoImageUrl(file) {
      let images;
      let logoImage;
      images = require.context("../../assets/icons/", false);

      if (file === "game.js") {
        logoImage = "js.svg";
      } else if (file === "contact.php") {
        logoImage = "iconfinder_256_Php_4518869.svg";
      } else {
        logoImage = "iconfinder_vue-dot-js_4691448.svg";
      }
      return images("./" + logoImage);
    }
  },
  mounted() {}
};
</script>
