<template>
  <div class="portfolio-personal__container">
    <div class="portfolio-u-scroll-container">
      <h2 class="portfolio-u-title">Few notes about myself</h2>
      <ul class="portfolio-personal__list">
        <li class="portfolio-personal__item portfolio-u-paragraph">
          I like hiking, nature, good people and music that can range from fast
          and dirty DIY hardcore punk, to ambiental electronic experiments.
          Also, I like to spend time with people I can trust to.
        </li>
        <li class="portfolio-personal__item portfolio-u-paragraph">
          Because everybody ask me, just a quick note - by education I am an
          psychologist, but I never worked in that field. I graduated in 2009,
          when there was 1) global economic crises, and 2) there was long
          lasting local economical meltdown (ex-Yugoslavia). Few jobs related to
          psychology were in HR sector, which never really interested me, so I
          just started to work on other things. When I started to learn internet
          technologies few years ago, I became relived and excited about them.
        </li>
        <li class="portfolio-personal__item portfolio-u-paragraph">
          Beside internet technologies, I have interests in human consciusness,
          brain doings, ethical living and grassroots justice movements.
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "Personal"
};
</script>
