<template>
  <div class="portfolio-prefered-tools__container">
    <div class="portfolio-prefered-tools__text-container">
      <h2 class="portfolio-u-title">
        Technologies && tools I use
      </h2>
      <p class="portfolio-u-paragraph is-subtitle">August, 2020</p>
      <p class="portfolio-u-paragraph">
        Until now my general focus was on
        <span class="portfolio-u-make-stronger is-italic">
          Javascript environment </span
        >, but I worked with
        <span class="portfolio-u-make-stronger is-italic">PHP</span> also.
        <span class="portfolio-u-make-stronger is-italic">HTML</span> and
        <span class="portfolio-u-make-stronger is-italic">CSS/SCSS</span> goes
        without mentioning.
      </p>
      <p class="portfolio-u-paragraph">
        With PHP partialy I worked inside a
        <span class="portfolio-u-make-stronger is-italic">Wordpress</span>
        ecosystem, and partially I used vanilla PHP to write CRUD queries, and
        to add functionalities to the backend part of the projects I worked on.
        Recently I started to explore
        <span class="portfolio-u-make-stronger is-italic"
          >Laravel framework</span
        >, and for what I tried it, I like it quite.
      </p>
      <p class="portfolio-u-paragraph">
        If we talk about Javascript, in the past I used to work with
        <span class="portfolio-u-make-stronger is-italic">vanilla JS</span>,
        <span class="portfolio-u-make-stronger is-italic">jQuery</span>,
        <span class="portfolio-u-make-stronger is-italic">Vue</span> and
        <span class="portfolio-u-make-stronger is-italic">Angular 7+</span> on
        different projects. And I'm just starting to use
        <span class="portfolio-u-make-stronger is-italic">React</span> and
        <span class="portfolio-u-make-stronger is-italic">NodeJS</span>, to
        build one project for myself. Still, I believe that my focus for a while
        will stay on Vue/Angular ecosystems.
      </p>
      <p class="portfolio-u-paragraph">
        When I catch some free time, I like to play with
        <span class="portfolio-u-make-stronger is-italic">C</span>, but until
        now programs I wrote in C were mostly trivial, kind of smaller
        exercises. In the next year,
        <span class="portfolio-u-make-stronger is-italic">I would like</span> to
        go deeper into functional programming and also I would like to become
        more familiar with best OOP patterns.
        <br />
        Also,
        <span class="portfolio-u-make-stronger is-italic">I would like</span> to
        grap more of Python skills/tools, and to learn more about AI and
        machine/deep learnig areas.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: "T-T"
};
</script>
