<template>
  <div
    :class="[
      'portofolio-my-projects__description',
      { 'move-to-left': moveLeft, 'move-to-right': moveRight }
    ]"
  >
    <p
      @click="closeDescriptionSidebar"
      class="portofolio-my-projects-description__close"
    >
      <img
        :src="getImageUrl('close.svg')"
        class="portfolio-c-my-projects-description__close-image"
      />
    </p>
    <ul>
      <li v-for="(project, index) in projects" :key="index">
        <div
          v-if="getProjectDescription == project.title"
          class="portfolio-my-projects__container"
        >
          <h2 class="portfolio-c-my-projects-description__title">
            {{ project.title }}
          </h2>
          <p class="portfolio-c-my-projects-description__paragraph">
            <span class="portfolio-u-make-stronger">Link:</span>
            <a
              :href="project.url"
              class="portfolio-c-my-projects__link"
              target="_blank"
              >See project</a
            >
          </p>
          <p class="portfolio-c-my-projects-description__paragraph">
            <span class="portfolio-u-make-stronger">Duration:</span>
            {{ project.duration }}
          </p>
          <p class="portfolio-c-my-projects-description__paragraph">
            <span class="portfolio-u-make-stronger add-margin-right"
              >Gitlab:</span
            >
            <span v-if="project.git !== 'not available'">
              <a
                class="portfolio-c-my-projects__link"
                :href="project.git"
                target="_blank"
                >{{ project.git }}</a
              >
            </span>
            <span v-else>{{ project.git }}</span>
          </p>

          <p
            class="portfolio-c-my-projects-description__paragraph"
            v-html="project.description"
          ></p>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "projectDescription",
  props: {
    projects: {
      type: Array,
      default: () => {},
      required: true
    },
    moveLeft: {
      type: Boolean,
      required: true,
      default: false
    },
    moveRight: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  computed: {
    getProjectDescription() {
      return this.$store.state.activateProjectDescription;
    }
  },
  methods: {
    closeDescriptionSidebar() {
      this.$emit("move-to-left", false);
    },
    getImageUrl(image) {
      let images = require.context("../../assets/icons/", false, /\.svg$/);
      return images("./" + image);
    }
  }
};
</script>
