<template>
  <div class="portfolio-bottom-command-line__container">
    <div class="portfolio-bottom-command-line__left-container">
      <ul class="portfolio-bottom-command-line__coding-list">
        <li
          v-for="language in Programming.languages"
          @click="openProjects(language.name)"
          :key="language.name"
        >
          <img
            alt=""
            :class="[
              'portfolio-bottom-command-line__icon',
              { 'is-vue': language.name === 'Vue' }
            ]"
            :src="getImageUrl(language.icon)"
          />
        </li>
      </ul>
    </div>
    <div class="portfolio-bottom-command-line__right-container">
      <ul class="portfolio-bottom-command-line__network-list">
        <li v-for="network in SocialNetworks" :key="network.name">
          <a :href="network.link" target="_blank">
            <img
              class="portfolio-bottom-command-line__icon"
              alt=""
              :src="getImageUrl(network.icon)"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { Items, Programming, SocialNetworks } from "./../../constants/items.js";

export default {
  name: "StatusBar",
  data() {
    return {
      Items,
      Programming,
      SocialNetworks
    };
  },
  methods: {
    openProjects(projectType) {
      let shouldIAddANewTab = true;
      this.$store.state.activeBuffers.filter(item => {
        if (item == Items.myProjectsFile) shouldIAddANewTab = false;
      });
      if (shouldIAddANewTab) {
        this.$store.dispatch("changeActiveBuffer", Items.myProjectsFile);
      }
      this.$store.dispatch("activateThisBuffer", Items.myProjectsFile);
      this.$store.dispatch("activateFilteringBasedOnStatusbar", projectType);
    },
    getImageUrl(image) {
      let images = require.context("../../assets/icons/", false, /\.svg$/);
      return images("./" + image);
    }
  }
};
</script>
