.portfolio-top-options__list {
  display: flex;

 @media only screen and (max-width: 500px) {
     display:none;
  }
}

.portfolio-top-options__item {
  margin: 0 2rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.portfolio-subitems-container {
  position: absolute;
  top: 2.3rem;
  min-width: 20rem;
  height: auto;
  background: $portfolio-color-gray-01;
  padding: 1rem 1rem 2rem;
  z-index: 9;
}

.portfolio-subitems__list {
  padding: 1rem 0;
  color: #c6c0c0;
}
