.portfolio-c-contact-me__container {
  padding: 4rem;
  overflow-y: auto;
  height: 92%;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
  }
}

.portfolio-c-contact-me__input-container {
  margin-bottom: 3rem;
}

.portfolio-c-contact-me__label {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
}

.portfolio-c-contact-me__input {
  background: $portfolio-color-white;
  height: 5rem;
  width: 35rem;
  padding: 1rem;
  font-size: 2rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.portfolio-c-contact-me__textarea {
  background: $portfolio-color-white;
  width: 100%;
  height: 35rem;
  font-size: 2rem;
  padding: 2rem;

  @media only screen and (max-width: 1024px) {
    width: 66.7%;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.portfolio-c-contact-me__send-button {
  background: $portfolio-color-tag;
  width: 10rem;
  height: 5rem;
  color: $portfolio-color-white;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.portfolio-c-contact-me__error {
  padding-top: 0.6rem;
  font-size: 1.6rem;
  color: $portfolio-color-tag;
}

// contact-message component
.portfolio-c-contact-message__container {
}
.portfolio-c-contact-message__error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  background: $portfolio-color-white;
  padding: 2rem;
  overflow: auto;
  border: 0.3rem solid $portfolio-color-tag;
  text-align: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.portfolio-c-contact-message__text-container {
  margin-top: 10rem;
}

.portfolio-c-contact-message__text {
  font-size: 4rem;
  color: $portfolio-color-tag;
  margin-top: 3rem;
  word-break: break-word;

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.portfolio-c-contact-message__email {
  color: $portfolio-color-blue;
}

.portfolio-c-contact-message__close-image {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  z-index: 99;
  filter: invert(34%) sepia(76%) saturate(5640%) hue-rotate(323deg)
    brightness(99%) contrast(98%);
  cursor: pointer;
}

.portfolio-c-contact-me__my-email {
  color: $portfolio-color-blue;
  font-size: 1.8rem;
}
