.portfolio-future-jobs__container {
  padding: 4rem;
  overflow-y: auto;
  height: 92%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    padding: 1rem;
  }
}

.portfolio-future-jobs__title-container {
  display: flex;
  flex-direction: column;
}

.portfolio-future-jobs__status {
  color: $portfolio-color-tag;
  font-size: 1.6rem;
}

.portfolio-future-jobs__subtitle {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.portfolio-future-jobs__title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.portfolio-future-jobs__paragraph {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
