.portfolio-games__main-container {
  padding: 4rem;
  overflow-y: auto;
  height: 92%;
  padding-bottom: 5rem;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
  }
}

.portfolio-kill-bugs__result {
  font-size: 2rem;

  &.add-margin-bottom {
    margin-bottom: 1rem;
  }
}

#pacman-world {
  border: 1px solid $portfolio-color-tag;
}

.portfolio-kill-bugs__enemy-wins {
  font-size: 4.5rem;
  color: $portfolio-color-tag;
  text-transform: uppercase;
  position: absolute;
  margin-top: 5rem;
  width: 70rem;
  margin-left: 1rem;
}

.portfolio-kill-bugs__game-container {
  margin-top: 3rem;
  position: relative;
}

.portfolio-kill-bugs__pacman-wins {
  font-size: 5rem;
  color: $portfolio-color-orange;
  text-transform: uppercase;
  position: absolute;
  margin-top: 5rem;
  width: 70rem;
  margin-left: 1rem;
}

.portfolio-kill-bugs__start {
  border: 1px solid $portfolio-color-tag;
  padding: 3rem 5rem;
  background: $portfolio-color-tag;
  color: white;
  display: inline-block;
  width: 20rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;

  &.is-disabled {
    background: $portfolio-color-gray;
    color: $portfolio-color-gray;
    border: 1px solid $portfolio-color-gray;
  }
}

.portfolio-kill-bugs__start-container {
  margin: 4rem 0 0 20rem;
}
