.portfolio-main-area__container {
  width: 100%;
  position: relative;
  height: 97vh;
  overflow: hidden;
}

.portfolio-bottom-command-line__container {
  position: absolute;
  bottom: 0;
  background: $portfolio-color-gray;
  color: $portfolio-color-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.portfolio-bottom-command-line__icon {
  width: 3.5rem;
  height: auto;
  margin-right: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &.is-vue {
    filter: invert(57%) sepia(66%) saturate(411%) hue-rotate(86deg)
      brightness(107%) contrast(91%);
  }
}

.portfolio-bottom-command-line__coding-list {
  display: flex;

  @media only screen and (max-width: 708px) {
    display: none;
  }
}

.portfolio-bottom-command-line__coding-item {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.portfolio-bottom-command-line__network-list {
  display: flex;
}

.portfolio-bottom-command-line__right-container {
  display: flex;
}
