.portfolio-my-projects__main-container {
  height: 92vh;
  overflow: scroll;
  font-size: 1.6rem;
  padding: 4rem;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
  }
}

.portfolio-my-projects__content {
  display: flex;
  padding-bottom: 5rem;
}

.portfolio-my-projects__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.portfolio-my-projects__meta-data {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: $portfolio-color-blue;
}

.portfolio-my-projects__text-row {
  font-size: 2rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: 1024px) {
    font-size: 1.6rem;
  }
}

.portfolio-my-projects__lanuage-item {
  display: inline-block;
  margin-right: 0.7rem;
  cursor: pointer;
  color: $portfolio-color-orange;
  border-right: 0.1rem solid $portfolio-color-orange;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.portfolio-my-projects__tag {
  color: $portfolio-color-tag;
  font-weight: 600;
}

.portfolio-my-projects__list-container {
  flex-basis: 66.67%;
  margin-bottom: 10rem;

  @media only screen and (max-width: 1024px) {
    flex-basis: 100%;
  }
}

.portfolio-my-projects__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-my-projects__item {
  width: 45%;
  height: 20rem;
  justify-content: center;
  margin-bottom: 8rem;
  margin-left: 3rem;
  margin-top: 8rem;
  cursor: pointer;
  text-align: center;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
  }
}

.portfolio-my-projects__project-logo {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border: 0.1rem solid $portfolio-color-white;

  @media only screen and (min-width: 2100px) {
    width: 60%;
  }

  @media only screen and (max-width: 1724px) {
    width: 100%;
  }

  @media only screen and (max-width: 1024px) {
    width: 50%;
  }

  @media only screen and (max-width: 568px) {
    width: 100%;
  }
}

@keyframes move {
  0% {
    right: -100%;
  }

  100% {
    right: 0rem;
  }
}

@keyframes move-back {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

.portofolio-my-projects__description {
  height: 100vh;
  border-left: 1px solid $portfolio-color-gray;
  position: fixed;
  top: 0;
  right: -100%;
  width: 33%;
  z-index: 9;
  background: $portfolio-color-black;
  z-index: 99;
  padding: 2rem;
  overflow-y: auto;

  &.move-to-left {
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &.move-to-right {
    animation-name: move-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.portfolio-my-projects__project-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  text-align: center;
}

.portfolio-my-projects__project-keywords {
  text-align: center;
  margin-bottom: 0.5rem;
}

.portfolio-my-projects__project-keyword {
  color: $portfolio-color-basic-font;
  font-weight: 600;
}

.portfolio-my-projects__link-container {
  text-align: center;
  text-transform: uppercase;

  &.add-margin-bottom {
    margin-bottom: 0.7rem;
  }
}

.portfolio-my-projects__project-link {
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid $portfolio-color-white;
  text-align: center;
  color: $portfolio-color-tag;
  font-weight: 700;
}

.portfolio-my-projects__project-link:hover {
  color: $portfolio-color-white;
  border-bottom: 0.1rem solid $portfolio-color-tag;
}

/*DESCRIPTION*/
.portofolio-my-projects-description__close {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 2rem;
}

.portfolio-c-my-projects-description__close-image {
  width: 2.5rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
  margin-top: 1rem;
}

.portfolio-c-my-projects-description__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.portfolio-my-projects__container {
  margin-bottom: 5rem;
}

.portfolio-c-my-projects-description__paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1rem;

  @media only screen and (max-width: 1024px) {
    font-size: 1.6rem;
  }
}

.portfolio-c-my-projects__link {
  text-decoration: none;
  color: $portfolio-color-tag;
  margin-left: 1rem;
  font-weight: 700;
  border-bottom: 0.1rem solid $portfolio-color-white;

  &.no-margin {
    margin-left: 0;
  }
}

.portfolio-c-my-projects__link:hover {
  color: $portfolio-color-white;
  border-bottom: 0.1rem solid $portfolio-color-tag;
}
