.portfolio-my-work__container {
  padding: 4rem;
  overflow-y: scroll;
  height: 92%;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
  }
}

.portfolio-my-work__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.portfolio-my-work-position__container {
  margin-bottom: 2rem;
}

.portfolio-my-work-position__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 5rem;
  color: $portfolio-color-tag;

  @media only screen and (max-width: 1024px) {
    font-size: 2.4rem;
  }
}

.portfolio-my-work-position__paragraph {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5;

  &.is-color-added {
    color: $portfolio-color-basic-font;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 1.6rem;
  }
}

.portfolio-my-work__label {
  font-weight: 700;
}

.portfolio-my-work__link {
  color: $portfolio-color-tag;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 0.1rem solid $portfolio-color-white;
  margin-left: 1rem;
}

.portfolio-my-work__link:hover {
  color: $portfolio-color-white;
  border-bottom: 0.1rem solid $portfolio-color-tag;
}

.portfolio-my-work-position__imortant {
  color: $portfolio-color-orange;
}
