.portfolio-personal__container {
  padding: 4rem;
  overflow-y: auto;
  height: 92%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.portfolio-personal__title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.portfolio-personal__list {
  list-style: none;
}

.portfolio-personal__item::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $portfolio-color-tag; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}
.portfolio-personal__item {
}

.portfolio-personal__image {
  width: 20rem;
  float: right;
  margin-left: 2rem;
}
