.portfolio-prefered-tools__container {
  padding: 4rem;
  height: 92vh;
  overflow-y: auto;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
  }
}

.portfolio-prefered-tools__text-container {
  width: 66.7%;
  padding-bottom: 7rem;

  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
}

.portfolio-prefered-tools__title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.portfolio-prefered-tools__paragraph {
  font-size: 2rem;
  margin-bottom: 2rem;
}
