.portfolio-read-me__container {
  display: flex;
  padding: 4rem;
  height: 92%;
  overflow-y: auto;

  @media only screen and (max-width: 1024px) {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.portfolio-read-me-left-side__container {
  padding: 1rem;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.portfolio-read-me-right-side__container {
  flex-basis: 50%;
}

.portfolio-read-me-left-side__subtitle {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.portfolio-read-me-left-side__paragraph {
  line-height: 1.7;
  font-size: 1.8rem;
}
