.portfolio-u-title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: $portfolio-color-blue;

  &.margin-bottom-0 {
    margin-bottom: 0;
  }

   @media only screen and (max-width: 1024px) {
      font-size: 2.4rem;
  }
}

.portfolio-u-make-stronger {
  text-decoration: none;
  font-weight: 700;

  &.add-margin-right {
    margin-right: 1rem;
  }

  &.is-italic {
    font-style: italic;
  }
}

.portfolio-u-padding-bottom-10 {
    padding-bottom: 10rem;
}

.portfolio-u-margin-bottom-10 {
    margin-bottom: 10rem;
}

.portfolio-u-paragraph {
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 2;
  text-align: justify;

  &.add-border-bottom {
    border-bottom: 0.1rem solid $portfolio-color-blue;
    padding: 1rem 0 3rem;
  }

  &.is-subtitle {
    color: $portfolio-color-orange;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

   @media only screen and (max-width: 1024px) {
      font-size: 1.6rem;
  }
}

.portfolio-u-color-green {
  color: $portfolio-color-basic-font;
}

.portfolio-u-color-purple {
  color: $portfolio-color-tag;
}

.portfolio-u-scroll-container {
  width: 67%;

  @media only screen and (max-width: 1024px) {
      width: 100%;
      margin-bottom: 10rem;
      font-size: 1.4rem;
  }
}
