/* basic colors */
$portfolio-color-black: #272822;
$portfolio-color-gray: #D0D0D0;
$portfolio-color-gray-01: #efeded;
$portfolio-color-blue: #66D9EF;
$portfolio-color-white: #ffffff;

$portfolio-color-basic-font: #A6E22E;
$portfolio-color-orange: #FD971F;
$portfolio-color-tag: #F92672;

