.portfolio-c-navigation__component {
  background: $portfolio-color-black;
  border-left: 0.1rem solid $portfolio-color-gray;
  border-right: 0.1rem solid $portfolio-color-gray;
  border-bottom: 0.1rem solid $portfolio-color-gray;
  width: auto;
}

.portfolio-c-navigation__list {
  height: 4rem;
}

.portfolio-c-navigation__item {
  position: relative;
  color: $portfolio-color-blue;
  padding-left: 4rem;
  padding-right: 4rem;
  border-right: 0.1rem solid $portfolio-color-gray;
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem !important;

  &.is-tab-active {
    color: $portfolio-color-black !important;
    background: $portfolio-color-gray;

    .portfolio-c-navigation__close-image {
      filter: invert(0%) sepia(1%) saturate(7495%) hue-rotate(353deg)
        brightness(83%) contrast(98%);
      width: 1.4rem;
    }
  }
}

.portfolio-c-navigation__close {
  position: absolute;
  right: 1rem;
}

.portfolio-c-navigation__close-image {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
  width: 1.4rem;
}

.portfolio-c-navigation__icon {
  width: 2rem;
  position: absolute;
  left: 1rem;

  &.is-vue-file {
    filter: invert(57%) sepia(66%) saturate(411%) hue-rotate(86deg)
      brightness(107%) contrast(91%);
  }
}
