<template>
  <div
    id="sidebar"
    :class="[
      'portofolio-c-sidebar',
      { 'is-small': !isDesktopWidth, 'is-full': displayFullWidth }
    ]"
  >
    <ul v-if="isDesktopWidth" class="portfolio-c-sidebar__list">
      <sidebar-item
        v-for="item in SidebarItems"
        :item="item"
        :key="item.folder"
      ></sidebar-item>
    </ul>
    <ul class="portfolio-c-sidebar__list">
      <img
        v-if="!this.showNavigationOnSmallScreens && !isDesktopWidth"
        @click="showNavigation"
        :src="'/img/open.svg'"
        class="portfolio-c-sidebar__open"
      />
      <div v-if="displayFullWidth" class="portfolio-c-sidebar__small-and-full">
        <img
          :src="'/img/close.svg'"
          @click="closeNavigation"
          class="portfolio-c-sidebar__close"
        />
        <sidebar-item
          v-for="item in SidebarItems"
          :item="item"
          :key="item.folder"
          is-smaller-screen
        ></sidebar-item>
      </div>
    </ul>
  </div>
</template>

<script>
import { Items, SidebarItems } from "./../../constants/items.js";
import "../../assets/style/main.scss";
import SidebarItem from "./sidebar-item.vue";
import ScreenWidth from "./../../mixins/screen-width.js";

export default {
  name: "Sidebar",
  data() {
    return {
      Items,
      SidebarItems,
      showNavigationOnSmallScreens: false,
      displayFullWidth: false
    };
  },
  mixins: [ScreenWidth],
  components: {
    SidebarItem
  },
  mounted() {
    this.isScreenWidthLessThan1024();
  },
  methods: {
    showNavigation() {
      this.showNavigationOnSmallScreens = true;
      this.displayFullWidth = true;
    },
    closeNavigation() {
      this.showNavigationOnSmallScreens = false;
      this.displayFullWidth = false;
    }
  }
};
</script>
