<template>
  <div>
    <li class="portfolio-c-sidebar__item">
      <button
        v-if="item.folder"
        @click="showSublist(item.folder)"
        class="portfolio-c-sidebar__item-button"
      >
        <span>
          <img
            :alt="item"
            :src="
              item.folder === activeFolder
                ? getImageUrl('keyboard_arrow_down.svg')
                : getImageUrl('keyboard_arrow_right.svg')
            "
            :class="[
              'portfolio-c-sidebar__closed-arrow',
              { 'is-opened': item.folder === activeFolder }
            ]"
          />
        </span>
        {{ item.folder }}
      </button>
      <ul
        v-if="item.folder"
        :class="[
          'portfolio-c-sidebar__sublist',
          { 'is-hidden': item.folder !== activeFolder }
        ]"
      >
        <li
          v-for="file in item.files"
          :key="file"
          class="portfolio-c-sidebar__subitem"
        >
          <img
            :src="getLogoImageUrl(file)"
            class="portfolio-c-sidebar__subitem-image"
          />
          <button
            @click.prevent="activateBuffer(file)"
            class="portfolio-c-sidebar__subitem-button"
          >
            {{ file }}
          </button>
        </li>
      </ul>
      <button
        v-if="!item.folder"
        @click.prevent="activateBuffer(item.file)"
        class="portfolio-c-sidebar__subitem-button"
      >
        <img
          :src="'/img/readme.svg'"
          class="portfolio-c-sidebar__subitem-image is-green"
        />
        {{ item.file }}
      </button>
    </li>
  </div>
</template>
<script>
export default {
  name: "sidebarItem",
  data() {
    return {
      activeFolder: ""
    };
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    showSublist(listClicked) {
      if (this.activeFolder === listClicked) {
        this.activeFolder = "";
      } else {
        this.activeFolder = listClicked;
      }
    },
    activateBuffer(buffer) {
      let shouldIAddANewTab = true;
      this.$store.state.activeBuffers.filter(item => {
        if (item == buffer) shouldIAddANewTab = false;
      });
      if (shouldIAddANewTab) this.$store.dispatch("changeActiveBuffer", buffer);
      this.$store.dispatch("activateThisBuffer", buffer);
    },

    getImageUrl(image) {
      let images = require.context("../../assets/icons/", false);
      return images("./" + image);
    },
    getLogoImageUrl(file) {
      let images;
      let logoImage;
      images = require.context("../../assets/icons/", false);

      if (file === "game.js") {
        logoImage = "js.svg";
      } else if (file === "contact.php") {
        logoImage = "iconfinder_256_Php_4518869.svg";
      } else {
        logoImage = "logo.png";
      }
      return images("./" + logoImage);
    }
  }
};
</script>
