.portofolio-c-sidebar {
  width: 20%;
  height: auto;
  background: $portfolio-color-black;
  color: $portfolio-color-basic-font;
  padding: 2rem 1rem;
  border-right: 0.4rem solid $portfolio-color-gray;
  overflow-x: auto;

  &.is-small {
    width: 5rem;
  }

  &.is-full {
    flex-basis: 700%;
  }
}

.portfolio-c-sidebar__list {
  width: 40rem;

  @media only screen and (max-width: 1024px) {
    width: 95%;
  }
}

.portfolio-c-sidebar__closed-arrow {
  width: 2.4rem;
  filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(333deg)
    brightness(98%) contrast(110%);
}

.portfolio-c-sidebar__item {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.portfolio-c-sidebar__item-button {
  background: $portfolio-color-black;
  color: $portfolio-color-basic-font;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: left;
  display: flex;
  line-height: 1.5;
}

.portfolio-c-sidebar__sublist {
  padding-left: 2rem;

  &.is-hidden {
    display: none;
  }
}

.portfolio-c-sidebar__subitem {
  padding: 1rem;

  @media only screen and (max-width: 500px) {
    padding: 0;
  }
}

.portfolio-c-sidebar__subitem-button {
  color: $portfolio-color-white;
  font-weight: 400;
  text-align: left;

  @media only screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.portfolio-c-sidebar__subitem-image {
  width: 1.8rem;
  margin-right: 0.5rem;

  &.is-green {
    filter: invert(41%) sepia(35%) saturate(3705%) hue-rotate(92deg)
      brightness(103%) contrast(82%);
  }

  @media only screen and (max-width: 500px) {
    width: 1.2rem;
  }
}

.portfolio-c-sidebar__small-and-full {
  position: relative;
}

.portfolio-c-sidebar__open {
  width: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
}

.portfolio-c-sidebar__close {
  position: absolute;
  right: 2rem;
  width: 3rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
}
