<template>
  <div id="app" class="portfolio-app__main-container">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <div class="portfolio-app-top__container">
      <portfolio-top-options />
    </div>
    <div class="portfolio-app-bottom__container">
      <Sidebar @activate-section="getActiveSection" />
      <Mainarea :set-active-section="activeSection" />
    </div>
  </div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld";
import Sidebar from "./components/sidebar/index.vue";
import Mainarea from "./components/main-area/index.vue";
import PortfolioTopOptions from "./components/top-options/index.vue";
export default {
  name: "App",
  data() {
    return {
      activeSection: "About me"
    };
  },
  components: {
    //  HelloWorld
    Sidebar,
    Mainarea,
    PortfolioTopOptions
  },
  methods: {
    getActiveSection(section) {
      this.activeSection = section;
    }
  }
};
</script>
